<h1>Journal Index</h1>

<%= link_to "Log Out", logout_path %>

<br><%= link_to "New Entry", new_entry_path , :id => 'new-entry' %>

<% @entries.each do |entry| %>
	<h3>
		<%= link_to entry.title, entry_path(entry) %>
	</h3>
	<p>
		<%= entry.content %>
	</p>
	<% end %>
